* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: darkslategray;
}

#contenedor_general{
    background-color: dimgrey;
    margin: 2rem;
    padding: 0 1rem 1rem 1rem;
    border-radius: 1rem;
    border: inset;
    border-color: cyan;
    border-width: thick;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}


.header{
    padding: 0.3rem 1rem 0.8rem 1rem
}
.header h1{
    margin: 0.8rem 1rem 0.3rem 0 ;
    color: white;
}

.header p{
    margin-top: 0.8rem;
    color: beige
}

.tareas ul{
    list-style-type: none;
    padding: 0;
}

.tareas{
    background-color: darkslategray;
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
    border: inset;
    border-color: aquamarine
}

.tareas:hover{
    background-color: #2f5e57;
    cursor: pointer;
}
.tareas label{
    color: white;
    margin: 0.5rem;
}